node_modules
.DS_Store
dist
dist-ssr
*.local

package-lock.json
yarn.lock
.idea

src/routeTree.gen.ts
/backend/src/db/migrations/
backend/uploads
backend/src/db/migrations
backend/venv
backend/file_data